@model GentingTaxi.Models.Driver
@{
    ViewBag.Title = "Driver Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title { @ViewBag.Title }
@section ContentHeader{
    <a href="@Url.Action("Edit","Driver")/@Model.DriverId" class="btn btn-primary inline"><i class="fa fa-edit"></i> Edit</a>

    <a class="btn btn-flat btn-@Model.StatusVM.StatusColor no-event">
        @Model.StatusVM.StatusName
    </a>
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- Personal Info -->
        <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Personal Information</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                <div>
                    @Model.Name
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IDCardNo)
                <div>
                    @Model.IDCardNo
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BirthDate)
                <div>
                    @if (Model.BirthDate != null) { 
                        @Model.BirthDate.Value.ToString("dd MMM yyyy")
                    }
                    else
                    {
                        @Html.Raw("-")
                    }
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone)
                <div>
                    @Model.Phone
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Gender)
                <div>
                    @if (Model.Gender == 1) { 
                        @Html.Raw("Male")
                    }
                    else if (Model.Gender == 2) { 
                        @Html.Raw("Female")
                    }
                    else
                    {
                        @Html.Raw("-")
                    }
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreatedDate)
                <div>
                    @if(Model.CreatedDate != null)
                    {
                        @Model.CreatedDate.Value.ToString("dd MMM yyyy hh:mm tt")
                    }
                    else
                    {
                        @Html.Raw("-");
                    }
                </div>
            </div>
        </div><!-- /.box-body -->

        </div><!-- /.box -->
    </div><!--/.col (left) -->
                
    <!-- right column -->
    <div class="col-md-6">
        <!-- Car Info -->
        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">Car Information</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.CarPlateNo)
                    <div>
                        @Model.CarPlateNo
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CarType)
                    <div>
                        @Model.CarTypeName
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->

        <!-- Photo -->
        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title">Photo</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        @if (Model.PhotoURL != null && Model.PhotoURL != "") { 
                        <div class="img-wrapper">
                            <a href="@Model.PhotoURL" class="fancybox" title="@Model.PhotoFileName">
                                <div class="img-box-round">
                                    <img src="@Model.PhotoURL" class="img-responsive img-center img-responsive-flex" />
                                </div>
                            </a>
                        </div>
                        }
                        else
                        {
                        <div class="img-wrapper">
                            <a>
                                <div class="img-box-round">
                                    <span class="img-center">No Photo</span>
                                </div>
                            </a>
                        </div>
                        }
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->

    </div><!--/.col (right) -->
</div><!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <!-- Booking Info -->
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Booking History</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="tbl-list" class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>User</th>
                            <th>Booking Time</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>

<!-- DATA TABLES -->
<link href="@Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
<!-- DATA TABES SCRIPT -->
<script src="@Url.Content("~/Content/plugins/datatables/jquery.dataTables.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.js")" type="text/javascript"></script>

<script type="text/javascript">
        $(function () {
            loadListTable();

            $("#tbl-list").on("click", "[name='viewBtn[]']", function () {
                var tr = $(this).closest("tr");
                var Id = tr.find("[name='Id[]']").val();

                window.location.href = "@Url.Action("View", "BookingTrx")/" + Id;
            })
        });

        function loadListTable() {
            var oTable = $("#tbl-list").DataTable({
                "bServerSide": true,
                "sAjaxSource": "@Url.Action("ListBookingTrx", "BookingTrx")?DriverId=@Model.DriverId",
                "bProcessing": true,
                "iDisplayLength": 10,
                "aoColumns": [
                        {
                            "mData": "BookingTrxId",
                            "sName": "BookingTrxId",
                            "bSearchable": false,
                            "bSortable": false,
                            "fnRender": function (Obj) {
                                return "<input type='hidden' value='" + Obj.aData['BookingTrxId'] + "' name='Id[]' />";
                            },
                            "iDataSort": 0,
                            "sWidth": "0%"
                        },
                        {
                            "mData": "UserName",
                            "iDataSort": 1,
                            "sWidth": "15%"
                        },
                        {
                            "mData": "BookingDateTimeText",
                            "iDataSort": 3,
                            "sWidth": "22%"
                        },
                        {
                            "mData": "FromLocation",
                            "iDataSort": 4,
                            "sWidth": "24%"
                        },
                        {
                            "mData": "ToLocation",
                            "iDataSort": 5,
                            "sWidth": "24%"
                        },
                        {
                            "mData": "StatusVM.StatusName",
                            "iDataSort": 6,
                            "fnRender": function (Obj) {
                                return '<a class="btn btn-sm btn-flat btn-' + Obj.aData['StatusVM']['StatusColor'] + ' no-event">' + Obj.aData['StatusVM']['StatusName'] + '</a>';
                            },
                            "sWidth": "7%"
                        },
                        {
                            "mData": null,
                            "bSortable": false,
                            "mRender": function (data, type, full) {
                                return '<a class="btn btn-sm btn-default" name="viewBtn[]">' +
                                    '<i class="fa fa-eye"></i> View</a>';
                            },
                            "sWidth": "8%"
                        },
                ]
            });

            //add class to jquery.datatables filter
            $('.dataTables_length select').addClass("btn btn-default");
            $('.dataTables_filter input').addClass("form-control");
        }
</script>